@import "projects/libs/src/lib/styles/global_styles";

cdk-virtual-scroll-viewport  {
  width: 100%;
}

.action-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.action-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
