<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style th:replace="fragments/style :: style"></style>
</head>
<body>

<h2>Passwort zurücksetzen</h2>

<p>
    Für Ihren Account wurde das Zurücksetzen des Passworts angefordert.
</p>

<p>Mit dem folgendem Link können Sie ein neues Passwort festlegen:</p>

<p><a href="" th:href="${link}">Neues Passwort festlegen</a></p>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>