<div class="flex-column"
     [style.width.px]="view.slotWidthHeader"
     [style.margin-left.px]="marginLeft"
     [style.margin-right.px]="marginRight">
  <ng-container *ngFor="let slot of daySlots; let i = index">

    <ng-container *ngIf="view.showHour(calcHour(i))">

      <ng-container *ngIf="grid && view.grid">
        <div *ngIf="calcMin(i) === 0" class="hour-border"
             [style.height.px]="0"
             [style.width.px]="view.containerWidth - 17">
        </div>
        <div *ngIf="calcMin(i) === 30" class="half-hour-border"
             [style.height.px]="0"
             [style.width.px]="view.containerWidth - 17">
        </div>
      </ng-container>

      <div
        class="center-top disable-select"
        [ngClass]="{
          'hour mat-elevation-z4': calcMin(i) === 0 && 0,
          'hour-margin': view.grid && !grid && calcMin(i) === 0,
          'half-hour-margin': view.grid && !grid && calcMin(i) === 30}"
        [style.height.px]="view.slotHeight"
        [style.width.px]="view.slotWidthHeader">
        <ng-container *ngIf="calcMin(i) === 0">{{calcHour(i)}}</ng-container>
      </div>

    </ng-container>

  </ng-container>
</div>
