<div class="flex-row">

  <div [style.width.px]="view.slotWidthHeader" [style.margin-right.px]="view.margin">
    <button *ngIf="!view.isDayMode()" mat-icon-button color="primary" matTooltip="Eine Woche zurück"
            (click)="lastWeek()" [disabled]="!view.isDateValid(calcLastWeek())">
      <mat-icon>skip_previous</mat-icon>
    </button>
  </div>

  <div *ngFor="let day of days; let i = index; let isLast = last"
       class="header flex-column mat-elevation-z4 weekday disable-select"
       [ngClass]="{'now': isSameDay(day.time, now), 'saturday': isSaturday(day.time), 'sunday': isSunday(day.time)}"
       [style.margin-left.px]="calcDayMargin(day.time, i)"
       [style.margin-right.px]="getMargin(isLast)"
       [style.width.px]="view.slotWidthData">
    <div class="center">{{getWeekDayName(day.time) }}</div>
    <div class="center">{{day.time.toLocaleDateString()}}</div>
  </div>

  <div  *ngIf="!view.isDayMode()" [style.width.px]="view.slotWidthHeader" [style.margin-left.px]="view.margin">
    <button mat-icon-button color="primary" matTooltip="Eine Woche vorwärts"
            (click)="nextWeek()" [disabled]="!view.isDateValid(addDays(calcNextWeek()))">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>

</div>
