<h3>Datumsbereich einschränken:</h3>
<div class="flex-row">
  <div class="min center" style="margin-right: 5px">
    <mat-datepicker-toggle [for]="picker" class="primary"></mat-datepicker-toggle>
  </div>
  <mat-form-field class="max">
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Datum ab" [(ngModel)]="slotFilter.pickDateStart" (dateChange)="refreshSlotList()">
      <input matEndDate placeholder="Datum bis" [(ngModel)]="slotFilter.pickDateEnd" (dateChange)="refreshSlotList()">
    </mat-date-range-input>
    <mat-date-range-picker #picker touchUi (closed)="refreshSlotList()"></mat-date-range-picker>
  </mat-form-field>
</div>

<h3>Uhrzeit einschränken:</h3>
<div class="flex-row"><div class="slider max">
  <ngx-slider [(value)]="slotFilter.hourMin" [(highValue)]="slotFilter.hourMax"  [options]="optionsHours" (userChangeEnd)="refreshSlotList()"></ngx-slider>
</div></div>

<h3>Wochentage auswählen:</h3>
<div class="flex-row"><div class="max">
  <mat-checkbox class="weekday-checkbox" [(ngModel)]="slotFilter.weekdays[1]" (change)="refreshSlotList()"><div class="weekday-checkbox-label">Mo</div></mat-checkbox>
  <mat-checkbox class="weekday-checkbox" [(ngModel)]="slotFilter.weekdays[2]" (change)="refreshSlotList()"><div class="weekday-checkbox-label">Di</div></mat-checkbox>
  <mat-checkbox class="weekday-checkbox" [(ngModel)]="slotFilter.weekdays[3]" (change)="refreshSlotList()"><div class="weekday-checkbox-label">Mi</div></mat-checkbox>
  <mat-checkbox class="weekday-checkbox" [(ngModel)]="slotFilter.weekdays[4]" (change)="refreshSlotList()"><div class="weekday-checkbox-label">Do</div></mat-checkbox>
  <mat-checkbox class="weekday-checkbox" [(ngModel)]="slotFilter.weekdays[5]" (change)="refreshSlotList()"><div class="weekday-checkbox-label">Fr</div></mat-checkbox>
  <mat-checkbox class="weekday-checkbox" [(ngModel)]="slotFilter.weekdays[6]" (change)="refreshSlotList()"><div class="weekday-checkbox-label">Sa</div></mat-checkbox>
  <mat-checkbox class="weekday-checkbox" [(ngModel)]="slotFilter.weekdays[0]" (change)="refreshSlotList()"><div class="weekday-checkbox-label">So</div></mat-checkbox>
</div></div>

<h3>Terminlänge einschränken:</h3>
<div class="flex-row"><div class="slider max">
  <ngx-slider [(value)]="slotFilter.durationMin" [(highValue)]="slotFilter.durationMax" [options]="optionsDuration" (userChangeEnd)="refreshSlotList()"></ngx-slider>
</div></div>
