@import "projects/libs/src/lib/styles/global_styles";

mat-selection-list {
  overflow: auto;
}

mat-selection-list {
  margin-bottom: 16px;
}

button {
  margin-top: 5px;
  margin-right: 10px;
}

::ng-deep mat-list-option .mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
  height: 56px;
}

:host ::ng-deep mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

:host ::ng-deep mat-list-option .mat-list-text {
  padding: 0 !important;
}
